body{
    margin: 0;
}
section{
    background: rebeccapurple;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* flex-wrap: wrap;  para que ocupen el espacio*/
    /* justify-content: space-evenly; alineacion horizontal*/
    
    /* flex-wrap: wrap; */
    /* align-items: flex-start; alineacion vertical */
    /* align-content:center; si está en wrap se usa para colocarlos verticalemte */
justify-content: center;
align-items: center;
}
ul{
    display: flex;
    
}

li{
    background: yellow;
    margin: 1.5rem;
    padding: 1.0rem;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;

}