article{

    background-color: black;
    color: antiquewhite;
    padding: 2rem;
    background-repeat: no-repeat;
    background-image: url(/img/Foto4.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-top: 2rem double red;
    border-bottom: 2rem double red;
    margin-bottom: 20px;
    text-shadow: 20px 20px 10px rgba(#000000, green, blue, 0.5);
}

.caixa{
    width: 200px;
    height: 200px;
    background: blue;
    margin-bottom: 1rem;
    border: 10px solid red;
    color: beige;
    padding: 10px;
    border-radius: 20px 20px 100px 100px;
}
.div1  {
box-sizing: content-box; /* Esto es lo normal*/
box-shadow: 20px 20px 10px black;
}

.div2{
box-sizing: border-box; /* Esto hace que el pading y el margin no sumen */
}