section{
    max-width: 900px;
    min-width: 300px;
}

article{
background-color: lightgrey;
padding: 3rem 3rem 3rem 12rem;
font-family: sans-serif;
font-size: 1.5rem;
background-size: 10rem 10rem;
background-repeat: no-repeat;
background-position: 1rem 5rem;
margin: 40px;
letter-spacing: 1px;
background-image: url(../img/Foto1.jpg);
border-radius: 2rem;
}
p{
    padding-bottom: 20px;
}

section article:first-child{
    background-image: url(../img/Foto6.jpg);
}
.boton{
    padding: 20px;
    background-color: blue;
    color: azure;
    font-size: bold;
    text-decoration: none;    
    font-weight: bold;
    
}

a:hover{
    color: blue;
    background-color: azure;

}