body{
    margin: 0;
}
.container{
    background: rebeccapurple;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    height: 300px;
    /* flex-wrap: wrap;  para que ocupen el espacio*/
    /* justify-content: space-evenly; alineacion horizontal*/
    
    /* flex-wrap: wrap; */
    /* align-items: flex-start; alineacion vertical */
    /* align-content:center; si está en wrap se usa para colocarlos verticalemte */
}

.child{
    background: yellow;
    margin: 1.5rem;
    padding: 0.5rem;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    order: 0; /* order por defecto*/
    flex-grow: 0; /* espacio que ocupa*/
}

.child:nth-child(2){
    background: red;
    order:2;
    
}

.child:nth-child(3){
    background: green;
    order:-1;
    /* flex-basis: 100%; Permite dar un tamaño y despues distribuye el espacio */
    align-self: flex-end; 
}

